---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} <a href="https://github.com/gkkconan"> gkkconan </a>. All rights reserved.
</footer>

<style>
	footer {padding: 50px; text-align: center;}
	footer a{display: inline-block;}
</style>