---
import HeaderLink from './HeaderLink.astro';
import searchImg from '../../public/icons/search.svg';
---



<nav class="center-flex">
	<ul>
		<li> <HeaderLink href="/archive"> Home </HeaderLink> </li>
		<li> <HeaderLink href="/archive/study-notes"> Study Notes </HeaderLink> </li>
		<li> <HeaderLink href="/archive/researches"> Researches </HeaderLink> </li>
		<li> <HeaderLink href="/archive/presentations"> Presentations </HeaderLink> </li>
		<li> <HeaderLink href="/archive/lessons"> Lessons </HeaderLink> </li>
		<li> <HeaderLink href="/archive/maps-and-diagrams"> Maps and Diagrams </HeaderLink> </li>
		<li> <HeaderLink href="/archive/exercises-and-reports"> Exercises and Reports </HeaderLink> </li>
		<li> <HeaderLink href="/archive/info"> Info </HeaderLink> </li>
	</ul>
	<div class="search-bar center-flex">
		<input type="text" placeholder="Search" class="search-input">
		<button> <img src={searchImg.src} class="search-icon" alt="search icon" /> </button>
	</div>
</nav>